<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148274144023-7a6nqqn3gtlpql7k74mcpkkpfdgq3ufa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148274144023-7a6nqqn3gtlpql7k74mcpkkpfdgq3ufa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148274144023-8n2v03svksecm12hrmembqo9vhogshuh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeFfZCgQz69ZrpLBZsbzA9qpY2wH9Aj3M</string>
	<key>GCM_SENDER_ID</key>
	<string>148274144023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ieeevit.openCon</string>
	<key>PROJECT_ID</key>
	<string>opencon-20</string>
	<key>STORAGE_BUCKET</key>
	<string>opencon-20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148274144023:ios:04c7a96fd1b5b98ee44d52</string>
	<key>DATABASE_URL</key>
	<string>https://opencon-20.firebaseio.com</string>
</dict>
</plist>